body {
    font-family: "Playpen Sans Thai", cursive;
    margin: 0;
}

/* header stuff here*/
header {
    background-color: #2AD5DB;
    padding: 1rem 40px;
}

header span {
    color: #F87B1B;
    font-size: 1.6rem;
    font-weight: 700;
}

/* navigation stuff here */
nav {
    background-color: #F1E6C9;
}

nav ul {
    margin: 0;
    padding: 0 20px;
    list-style-type: none;
    display: flex;
}

nav a {
    display: block;
    padding: 1rem 1rem;
    text-decoration: none;
    font-size: 1.1rem;
    color: #051E3E;
    font-weight: 700;
}

nav li.active a {
    background-color: #051E3E;
    color: #F1E6C9;
}

nav li a:hover {
    color: white;
}

/* main stuff here */
main {
    padding: 1rem 20px;
}

main h1 {
    color: #F87B1B;
    margin-top: 10px;
    margin-left: 0px;
}

main h2 {
    color: #051E3E;
    margin-left: 10px;
    margin-bottom: .2rem;
}

main p {
    margin: 0;
    color: #333;
}

main ol {
    padding: .5rem 30px;
    background-color: #ABDADC;
}

main dl dt {
    color: #F87B1B;
    font-weight: 700;
    margin-top: 1rem;
}

main dl dd {
    color: #2AD5DB;
    font-size: .9rem;
    margin-left: 20px;
    padding-left: 10px;
    background-color: rgba(241, 230, 201, 0.3);
    border-radius: 10px;
}

main strong {
    font-weight: 700;
    color: black;
}

main em {
    font-weight: 300;
}

main address {
    font-style: normal;
    background-color: #F1E6C9;
    padding: .5rem;
    border-radius: 10px;
    border: 1px solid #051E3E;
    width: 200px;
}

main address a {
    color: #2AD5DB;
}

main a {
    color: #ABDADC;
}

main a:hover {
    color: #F87B1B;
}

/* main image stuff here */
figure.yourname {
    margin: 0 0 0 10px;
    width: 40%;
    float: right;
}

figure.yourname img {
    width: 100%;
    height: auto;
}

figure.yourname figcaption {
    text-align: center;
    font-size: .75rem;
}

/* attack on titan image stuff here */
figure.attack {
    margin: 0 0 0 10px;
    width: 40%;
    float: right;
}

figure.attack img {
    width: 100%;
    height: auto;
}

figure.attack figcaption {
    text-align: center;
    font-size: .75rem;
}

/* gallery stuff here*/
div.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 10px;
}

div.gallery figure {
    margin: 0;
}

div.gallery figcaption {
    text-align: center;
    font-size: 1.2rem;
    color: #051E3E;
}

/* form stuff here*/
.comment fieldset {
    border: 2px solid #051E3E;
    border-radius: 3px;
    margin-bottom: 1rem;
}

.comment legend {
    color: #ABDADC;
    font-size: .8rem;
}

.comment label {
    margin: .5rem;
}

.comment label,
.comment select,
.comment [type=text],
.comment [type=tel],
.comment textarea {
    display: block;
}

.comment [type=text],
.comment [type=tel],
.comment select,
.comment textarea {
    border: solid 1px #888;
    padding: .3rem;
    width: 300px;
    border-radius: .3rem;
    font-family: "Playpen Sans Thai", cursive;
    font-weight: 200;
}

.comment textarea {
    width: 400px;
    height: 6rem;
}

.comment :required {
    background-color: rgba(248, 123, 27, 0.1);
}

.comment [type=submit] {
    background-color: #2AD5DB;
    border: solid 2px #F87B1B;
    padding: 1rem 2rem;
    border-radius: 10px;
    color: white;
    margin: 1rem 0 0 1vw;
    font-family: "Playpen Sans Thai", cursive;
    font-weight: 600;
}

.explanation {
    color: #888;
    font-weight: 200;
}

/* footer stuff here */
footer {
    background-color: #F1E6C9;
    text-align: center;
    padding: 1rem 0;
}

footer p {
    margin: 0;
    font-size: .8rem;
    color: #051E3E;
    letter-spacing: 3px;
}

footer a {
    color: #2AD5DB;
}

footer a:hover {
    color: #F87B1B;
}